@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: white;
}

b{
    color: black;
    font-weight: bolder;
}

body{
    background-color: #0a0a0c;
}

header{
    background-color: #0B0B0E;
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

a{
    text-decoration: none;
    box-shadow: 0px  0px 7px 0px #035eb336;
}

.header-card{
    background-color: #131212;
}

.header-card-content{
    padding: 10px 20px;
    display: flex;
    gap: 15px;
}

.card {
    position: relative;
    width: 300px;
    height: 400px;
    background-image: url(../assets/image/peloCodigo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  


  /*Modal de personagem*/
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.678);
}

.modal.block {
  display: block;
}
  
.modal-center{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.modal-content {
    background-color: #161618;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    height: 325px;
}

.profile-player{
    justify-content: end;
    display: flex;
}

.profile-player > button {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.411);
}

.profile-player > button:hover{
    background-color: rgb(184, 185, 185);
}

/* --- Modal de foto de perfil ---*/
.modal-perfil {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.562);
}

.modal-center-perfil{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-perfil-content{
    background-color: rgb(32, 25, 49);
    border-radius: 30px 0px;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 361px;
}

.close-btn {
    color: #f8f8f8;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.image-profile-hub{
    height: 339px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    overflow-x: auto;
    gap: 10px;
    --sb-track-color: #2b2d2d;
    --sb-thumb-color: #1993c7;
    --sb-size: 5px;
}

.image-profile-hub::-webkit-scrollbar {
    width: var(--sb-size);
  }
  
.image-profile-hub ::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 18px;
}
  
.image-profile-hub::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 18px;
}
  
@supports not selector(::-webkit-scrollbar) {
.image-profile-hub {
    scrollbar-color: var(--sb-thumb-color)
                    var(--sb-track-color);
}
}

.profile{
    width: 100px;
    background-color: #e2e0e0;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-position: center;
    cursor: pointer;
}

.color-header-modal{
    background-color: rgb(28, 28, 219);
    height: 8vh;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: end;
}

.color-picker-container {
    position: relative;
    width: 30px;
    height: 30px;
}

.color-picker-container input[type="color"] {
    appearance: none; 
    -webkit-appearance: none; 
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    background-color: transparent;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(65, 63, 63, 0.63);
    z-index: 2;
}

.color-picker-container input[type="color"]::before {
    content: '\1F3A8'; 
    font-size: 14px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    pointer-events: none;
    z-index: 1;
}

.profile-player{
    background-color: rgb(217, 221, 224);
    width: 35%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: -60px;
    position: relative;
}

.info-player{
    position: absolute;
    margin-top: 70px;
    width: 300px;
}

.info-player input{
    background-color: #161618;
    border: none;
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
}

.play-mode-modal{
    background-color: rgb(51, 50, 50);
    margin-top: 5px;
}

.play-mode-modal-content{
    display: flex;
    padding: 10px;
}

.cover-play{
    background-image: url(../assets/image/peloCodigo.jpg);
    background-size: cover;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 0.5rem;
    margin-right: 15px;
}

.info-player button{
    background-color: rgb(32, 32, 197);
    color: white;
    font-weight: bold;
    padding: 20px 0px;
    width: 100%;
    margin-top: 15px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.info-player button:hover{
    background-color: rgb(17, 17, 145);
}

.popup-message {
    position: absolute;
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    z-index: 4;
    opacity: 0; /* Começa invisível */
    transform: translateY(-10px); /* Ajuste inicial */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .popup-message.show {
    opacity: 1; /* Aparece com transição */
    transform: translateY(0); /* Fica na posição correta */
    animation: shake 0.4s ease; /* Aplica a animação de agitação */
  }

  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }